<div class="container">
  <h2>List of Movie Characters</h2>
  <app-character-filter
    (updateCharacterEvent)="updateCharacterList($event)"
  ></app-character-filter>
  <ul>
    <li class="list-group"
        *ngFor="let character of characters; let i = index"
        class="list-group-item">
      <a [routerLink]="['/character-details/' + i]" [routerLinkActive]="['router-link-active']" >
        <span>{{ i + 1 }}. </span>
        <span>{{ character.name }}</span>
      </a>
    </li>
  </ul>
</div>
