form {
  text-align: center;

  .form-control {
    text-align: center;
    display: inline-block;
    width: 20%;
    margin: 10px 7px;

    input {
      margin-right: 10px;

      &:first-of-type {
        margin-left: 10px;
      }
    }
  }
}
