<form [formGroup]="filterForm">
  <select formControlName="movie" class="form-control">
    <option>Movies</option>
    <option *ngFor="let movie of movies">{{ movie['title'] }}</option>
  </select>
  <select formControlName="species" class="form-control">
    <option>Species</option>
    <option *ngFor="let specie of species">{{ specie['name'] }}</option>
  </select>
  <input class="checkbox-inline minyear" formControlName="minyear" type="text" placeholder="Year from" value="">
  <input class="checkbox-inline minyear" formControlName="maxyear" type="text" placeholder="Year to" value="">
  <button (click)="filterCharacters()" type="button">Filter</button>
</form>
